<a href="https://colab.research.google.com/github/sarika-kushwaha/data-science-colab-notebook/blob/main/combiningDataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Combining DataFrames - concat function**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data1 = {'A': ['A1','A2','A3','A4'],'B':['B1','B2','B3','B4']}
data2 = {'C':['C1','C2','C3','C4'],'D':['D1','D2','D3','D4']}

In [ ]:
# index = [1,2,3,4]

In [ ]:
Df1 = pd.DataFrame(data1,index = index)
Df2 = pd.DataFrame(data2,index = index)

In [ ]:
Df1

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [ ]:
Df2

    C   D
1  C1  D1
2  C2  D2
3  C3  D3
4  C4  D4

In [ ]:
pd.concat([Df1,Df2],axis = 1) # axis = 1 ,so that this will concatenate(join) the data along the column

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [ ]:
pd.concat([Df2,Df1],axis = 1) # this will give the same result but columns orer would be switched  C D A B

    C   D   A   B
1  C1  D1  A1  B1
2  C2  D2  A2  B2
3  C3  D3  A3  B3
4  C4  D4  A4  B4

In [ ]:
index1 = [1,2,3,4]

In [ ]:
index2 = [5,6,7,8]

In [ ]:
Df1 = pd.DataFrame(data1,index = index1)
Df2 = pd.DataFrame(data2,index = index2)

In [ ]:
# now we have changed the index for both the dataframes , so we will try concatenate these two df along rows

In [ ]:
pd.concat([Df1,Df2],axis = 0)
# but this really doesn't make sense because this data will have so many  nan values

     A    B    C    D
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
4   A4   B4  NaN  NaN
5  NaN  NaN   C1   D1
6  NaN  NaN   C2   D2
7  NaN  NaN   C3   D3
8  NaN  NaN   C4   D4

In [ ]:
# If we want to continue in the same column like 
# A 	B	
# A1 B1
# A2 B2
# A3 B3
# A4 B4
# C1 D1
# C2 D2
# C3 D3
# C4 D4

In [ ]:
Df2.columns = Df1.columns

In [ ]:
pd.concat([Df1,Df2],axis = 0)

    C   D
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  C1  D1
6  C2  D2
7  C3  D3
8  C4  D4

**Combining DataFrames - merge**

The `.merge()` method takes in a key argument labeled below

There are  3 main ways to of merging tables together using the `how` parameter :

```
*  Inner - the result will be the set of records that match in the both tables. (intersection of both the data)
*  Outer - 
*  Left or Right
```


>Inner merge

In [ ]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bob','Claire','David']},index=[1,2,3,4])
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','John','Bob']},index=[1,2,3,4])

In [ ]:
registrations

   reg_id    name
1       1  Andrew
2       2     Bob
3       3  Claire
4       4   David

In [ ]:
logins

   log_id    name
1       1  Xavier
2       2  Andrew
3       3    John
4       4     Bob

In [ ]:
# help(pd.merge)

In [ ]:
pd.merge(registrations,logins,how = 'inner',on ='name') # switching the orders doesn't matter

   reg_id    name  log_id
0       1  Andrew       2
1       2     Bob       4



> Left or Right merge

In [ ]:
pd.merge(registrations,logins,how = 'left',on ='name') 
# every single name in the left table will be present in the results along with their corresponding column values between the two tables.
# claire an david were not actually present in the login table means they dont have a log id associated with them , so that null values were filled in the log_id column.

   reg_id    name  log_id
0       1  Andrew     2.0
1       2     Bob     4.0
2       3  Claire     NaN
3       4   David     NaN

In [ ]:
pd.merge(registrations,logins,how = 'right',on ='name')
#  every single name in the right table will be present in the results along with their corresponding column values between the two tables.
# Xavier and john were not actually present in the registrations table means they dont have a reg_id associated with them , so that null values were filled in the reg_id column.

   reg_id    name  log_id
0     NaN  Xavier       1
1     1.0  Andrew       2
2     NaN    John       3
3     2.0     Bob       4



> Outer merge

In [ ]:
pd.merge(registrations,logins,how = 'outer',on ='name')
#  all the names of the both the table will be present in the results along with their corresponding column values between the two tables. 
#  but missing values from log_id column and reg_id column will filled with nan values

   reg_id    name  log_id
0     1.0  Andrew     2.0
1     2.0     Bob     4.0
2     3.0  Claire     NaN
3     4.0   David     NaN
4     NaN  Xavier     1.0
5     NaN    John     3.0

In [ ]:
registrations = registrations.set_index('name')

In [ ]:
registrations

        reg_id
name
Andrew       1
Bob          2
Claire       3
David        4

In [ ]:
logins

   log_id    name
1       1  Xavier
2       2  Andrew
3       3    John
4       4     Bob

In [ ]:
pd.merge(registrations,logins,left_index = True,right_on = 'name',how='innerr')

     reg_id  log_id    name
2.0     1.0     2.0  Andrew
4.0     2.0     4.0     Bob
NaN     3.0     NaN  Claire
NaN     4.0     NaN   David
1.0     NaN     1.0  Xavier
3.0     NaN     3.0    John

In [ ]:
pd.merge(registrations,logins,left_on = 'reg_name',right_on = 'name',how='inner')

KeyError: ignored